/* You can add global styles to this file, and also import other style files */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

.special_side_padding {
    padding: 2.5%;
}